<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/styles.css" />
    <link rel="stylesheet" href="/stylesheet/navbar.css" />
    <link rel="stylesheet" href="/stylesheet/log_in.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f575.png"
    />
    <title>Admin Adhesion</title>
  </head>
  <body>
    <main class="main">
      <h1 class="secretCodeHeader">
        Enter the secret code 1908 to join the club
      </h1>
      <form action="/admin_adhesion" method="POST" class="form">
        <%- include('partials/errors.ejs') -%>
        <label for="adminSecretCode" class="label"
          >Enther the secret code</label
        >
        <input
          id="adminSecretCode"
          name="adminSecretCode"
          type="password"
          class="input"
        />
        <button class="secretCodeButton">Submit</button>
      </form>
    </main>
  </body>
</html>
