<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/log-out">LOG OUT</a>
    <a href="/secret_club_adhesion">Join the club</a>
    <% } else { %>
    <a href="/sign_up">Sign up</a>
    <a href="/secret_club_adhesion">Join the club</a>
    <a href="/log_in">Log in</a>
    <%}%>
  </body>
</html>
