<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheet/errors.css" />
    <link rel="stylesheet" href="stylesheet/navbar.css" />
    <link rel="stylesheet" href="stylesheet/log_in.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f575.png"
    />
    <title>Secret Club Adhesion</title>
  </head>
  <body>
    <main class="main">
      <h1 class="secretCodeHeader">
        Enter the secret code 30 to join the club
      </h1>
      <form action="/secret_club_adhesion" method="POST" class="form">
        <%- include('partials/errors.ejs') -%>
        <label for="secretCode" class="label">Secret code:</label>
        <input
          id="secretCode"
          name="secretCode"
          type="password"
          class="input"
        />
        <button class="secretCodeButton">Submit</button>
      </form>
    </main>
  </body>
</html>
