<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <a href="/">Go the home page</a>
    <p>Enter the secret code to join the club(the secret code is 30)</p>
    <form action="/secret_club_adhesion" method="POST">
      <%- include('partials/errors.ejs') -%>
      <label for="secretCode">Enther the secret code</label>
      <input id="secretCode" name="secretCode" type="password" />
      <button>Enter the code</button>
    </form>
  </body>
</html>
